html {
    background-color: #304946;
}

.login-container {
    width: 400px;
    margin: 50px 10%;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-image: linear-gradient(to top right, #223c78, #2278ba);
    border: 2px solid #d7335d;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
  }

  label {
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .form-control {
    border: 1px solid #930af5;
  }

  .logo {
    width: 300px;
    height: 300px;
    margin: auto 5%;
  }

  .login-page {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    height: 100vh;
  }